<%- include('partials/head'); -%> <%- include('partials/navbar'); -%>
<h1>The Home Page <%= 4+5+10 %></h1>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minus doloribus, ex,
  veritatis suscipit ullam omnis iusto vel dolore et beatae quis illum soluta
  non magni explicabo cumque minima voluptas eius.
</p>
<%- include('partials/footer'); -%>
